@font-face {
    font-family: 'Mulish';
    font-weight: 300 1000;
    font-style: normal;
    src: url('../fonts/mulish.ttf') format('truetype-variations');
    font-display: swap;
}

@font-face {
    font-family: 'Mulish Italic';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/mulish-italic.woff2') format('woff2');
    font-display: swap;
}