$cover-z-index: 0 !default;

.cover {
	max-width: calc(var(--type-area-width-expanded) * 0.5 + var(--type-area-width-extended) * 0.5);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: var(--spacing-level-1);
	margin-top: var(--spacing-level-6);

	@media screen and (min-width: #{$viewport-regular-min-width}) {
		padding-left: var(--spacing-column-level-1);
		padding-right: var(--spacing-column-level-1);
	}
}

.cover__body {
	position: relative;
	display: grid;

	@media screen and (max-width: #{$viewport-regular-max-width}) {
		grid-template-columns: 1fr;
		grid-template-areas:
			"media"
			"main"
		;
	}

	@media screen and (min-width: #{$viewport-wide-min-width}) {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"main media"
		;
	}
}

.cover__main {
	grid-area: main;
	position: relative;

	@media screen and (max-width: #{$viewport-narrow-max-width}) {
		padding: var(--spacing-level-2) var(--spacing-column-level-1);
		margin-top: calc(var(--spacing-level-2) * -2);
	}

	@media screen and (min-width: #{$viewport-regular-min-width}) and (max-width: #{$viewport-regular-max-width}) {
		padding: var(--spacing-level-2);
		margin-top: calc(var(--spacing-level-2) * -2);
	}

	@media screen and (min-width: #{$viewport-wide-min-width}) {
		padding: var(--spacing-level-2);
		padding-right: calc(var(--spacing-level-2) * 2 + var(--spacing-level-4));
		display: flex;
		align-items: center;
		min-height: 400px;
	}

	&::before {
		content: '';
		display: block;
		background-color: var(--color-base-dark-mode-root);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: $cover-z-index - 1;

		@media screen and (max-width: #{$viewport-narrow-max-width}) {
			-webkit-clip-path: polygon(
				0 0,
				100% calc(var(--spacing-level-2) * 0.5),
				100% calc(100% - var(--spacing-level-2) * 0.5),
				0 100%
			);
			clip-path: polygon(
				0 0,
				100% calc(var(--spacing-level-2) * 0.5),
				100% calc(100% - var(--spacing-level-2) * 0.5),
				0 100%
			);
		}

		@media screen and (min-width: #{$viewport-regular-min-width}) {
			-webkit-clip-path: polygon(
				0 calc(var(--spacing-level-2) * 0.75),
				calc(100% - var(--spacing-level-2) * 0.25) 0,
				100% 100%,
				calc(var(--spacing-level-2) * 0.5) calc(100% - var(--spacing-level-2) * 0.125)
			);
			clip-path: polygon(
				0 calc(var(--spacing-level-2) * 0.75),
				calc(100% - var(--spacing-level-2) * 0.25) 0,
				100% 100%,
				calc(var(--spacing-level-2) * 0.5) calc(100% - var(--spacing-level-2) * 0.125)
			);
		}
	}
}

.cover__speech-balloon {
	z-index: $cover-z-index + 2;

	@media screen and (max-width: #{$viewport-narrow-max-width}) {
		margin-top: calc(var(--spacing-level-2) * -1);
	}

	@media screen and (min-width: #{$viewport-regular-min-width}) and (max-width: #{$viewport-regular-max-width}) {
		margin-top: calc(var(--spacing-level-2) * -1);
	}


	@media screen and (min-width: #{$viewport-wide-min-width}) {
		margin-top: calc(var(--spacing-level-2) * -1);
	}
}


.cover__header {
	grid-area: header;
}

.cover__media {
	display: block;
	overflow: hidden;
	grid-area: media;
	position: relative;
	background-color: var(--color-base-moderate);

	@media screen and (max-width: #{$viewport-narrow-max-width}) {
		padding-bottom: 100% * 1/2.4;
		z-index: $cover-z-index - 1;
		-webkit-clip-path: polygon(
			0 4%,
			100% 0,
			100% 100%,
			0 100%
		);
		clip-path: polygon(
			0 4%,
			100% 0,
			100% 100%,
			0 100%
		);
	}

	@media screen and (min-width: #{$viewport-regular-min-width}) and (max-width: #{$viewport-regular-max-width}) {
		padding-bottom: 100% * 1/2.4;
		z-index: $cover-z-index - 1;
		-webkit-clip-path: polygon(
			0 0,
			100% 2%,
			94% 98%,
			3% 100%
		);
		clip-path: polygon(
			0 0,
			100% 2%,
			94% 98%,
			3% 100%
		);
	}

	@media screen and (min-width: #{$viewport-wide-min-width}) {
		z-index: $cover-z-index + 1;
		margin-top: calc(var(--spacing-level-2) * 0.5);
		margin-bottom: calc(var(--spacing-level-2) * 0.5);
		margin-left: calc(var(--spacing-level-2) * -2);
		-webkit-clip-path: polygon(
			0 4%,
			100% 0,
			96% 100%,
			4% 98%
		);
		clip-path: polygon(
			0 4%,
			100% 0,
			96% 100%,
			4% 98%
		);
	}
}

.cover__image {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
