$gallery-z-index: 0 !default;

.gallery {
	position: relative;
}

.gallery__header {
	z-index: $gallery-z-index + 1;
	padding: var(--spacing-level-4);

	@media screen and (max-width: #{$viewport-regular-max-width}) {
		position: relative;
		max-width: var(--type-area-width-regular);
		margin-left: var(--spacing-column-level-1);
		margin-right: var(--spacing-column-level-1);
		margin-bottom: var(--spacing-level-4);
		-webkit-clip-path: polygon(
			0 calc(var(--spacing-level-4) * 0.25),
			100% 0,
			100% calc(100% - var(--spacing-level-4) * 0.25),
			0% 100%
		);
		clip-path: polygon(
			0 calc(var(--spacing-level-4) * 0.25),
			100% 0,
			100% calc(100% - var(--spacing-level-4) * 0.25),
			0% 100%
		);
	}

	@media screen and (min-width: #{$viewport-wide-min-width}) {
		padding-left: var(--spacing-level-4);
		padding-right: var(--spacing-level-4);
		max-width: var(--type-area-width-narrow);
		position: absolute;
		right: calc(var(--spacing-level-2) * 1);
		top: calc(var(--spacing-level-1) * -1);
		-webkit-clip-path: polygon(
			calc(var(--spacing-level-4) * 0.25) 0,
			100% calc(var(--spacing-level-4) * 0.25),
			100% 100%,
			0% calc(100% - var(--spacing-level-4) * 0.25)
		);
		clip-path: polygon(
			calc(var(--spacing-level-4) * 0.25) 0,
			100% calc(var(--spacing-level-4) * 0.25),
			100% 100%,
			0% calc(100% - var(--spacing-level-4) * 0.25)
		);
	}
}

.gallery__header--quote {

	@media screen and (max-width: #{$viewport-regular-max-width}) {
		margin-bottom: calc(var(--spacing-level-4) * -2.5);
		padding-bottom: calc(var(--spacing-level-4) * 2.5);
		-webkit-clip-path: polygon(
			calc(var(--spacing-level-4) * 0.25) 0,
			100% calc(var(--spacing-level-4) * 0.25),
			100% calc(100% - var(--spacing-level-4) * 1.75),
			calc(33% + var(--spacing-level-4) * 1) calc(100% - var(--spacing-level-4) * 1.5),
			33% 100%,
			33% calc(100% - var(--spacing-level-4) * 1.5),
			0% calc(100% - var(--spacing-level-4) * 1.75)
		);
		clip-path: polygon(
			calc(var(--spacing-level-4) * 0.25) 0,
			100% calc(var(--spacing-level-4) * 0.25),
			100% calc(100% - var(--spacing-level-4) * 1.75),
			calc(33% + var(--spacing-level-4) * 1) calc(100% - var(--spacing-level-4) * 1.5),
			33% 100%,
			33% calc(100% - var(--spacing-level-4) * 1.5),
			0% calc(100% - var(--spacing-level-4) * 1.75)
		);
	}

	@media screen and (min-width: #{$viewport-wide-min-width}) {
		padding-bottom: calc(var(--spacing-level-4) * 2.5);
		-webkit-clip-path: polygon(
			calc(var(--spacing-level-4) * 0.25) 0,
			100% calc(var(--spacing-level-4) * 0.25),
			100% calc(100% - var(--spacing-level-4) * 1.75),
			calc(33% + var(--spacing-level-4) * 1) calc(100% - var(--spacing-level-4) * 1.5),
			33% 100%,
			33% calc(100% - var(--spacing-level-4) * 1.5),
			0% calc(100% - var(--spacing-level-4) * 1.75)
		);
		clip-path: polygon(
			calc(var(--spacing-level-4) * 0.25) 0,
			100% calc(var(--spacing-level-4) * 0.25),
			100% calc(100% - var(--spacing-level-4) * 1.75),
			calc(33% + var(--spacing-level-4) * 1) calc(100% - var(--spacing-level-4) * 1.5),
			33% 100%,
			33% calc(100% - var(--spacing-level-4) * 1.5),
			0% calc(100% - var(--spacing-level-4) * 1.75)
		);
	}
}

.gallery__header--red {
	background-color: var(--color-red-light-mode-low);
}

.gallery__header--orange {
	background-color: var(--color-orange-light-mode-low);
}

.gallery__header--green {
	background-color: var(--color-green-light-mode-low);
}

.gallery__header--blue {
	background-color: var(--color-blue-light-mode-low);
}

.gallery__header--magenta {
	background-color: var(--color-magenta-light-mode-low);
}

.gallery__text {
	font-family: var(--font-family-lunchbox);
	font-size: var(--font-size-large);
	font-weight: bold;
	max-width: var(--type-area-width-regular);
	line-height: var(--line-height-small);
	color: var(--color-text-light-mode-high-contrast);
}

.gallery__items {
	display: flex;

	@media screen and (max-width: #{$viewport-regular-max-width}) {
		flex-wrap: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		width: auto;
		max-width: 100vw;
		scroll-snap-type: x mandatory;
		scroll-padding: var(--spacing-column-level-1);
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		&::-webkit-scrollbar {
			display: none;
		}

		&::after {
			width: 1px;
			content: '';
			flex-shrink: 0;
			flex-basis: 0;
			flex-grow: 0;
			padding-left: var(--spacing-column-level-1);
		}
	}

	@media screen and (min-width: #{$viewport-wide-min-width}) {
		flex-wrap: wrap;
		margin: calc(var(--spacing-level-5) * -0.5);
	}
}

.gallery__item {
	position: relative;
	background-color: var(--color-base-moderate);

	@media screen and (max-width: #{$viewport-regular-max-width}) {
		flex-basis: var(--type-area-width-narrow);
		flex-shrink: 1;
		flex-grow: 0;
		max-width: m#{i}n(calc(100vh - 2 * var(--spacing-level-5)), calc(100vw - 2 * var(--spacing-column-level-1) - var(--spacing-level-5)));
		scroll-snap-align: start;
		margin-left: var(--spacing-level-5);
		flex-shrink: 0;

		&:first-child {
			margin-left: var(--spacing-column-level-1);
		}

		&::before {
			content: '';
			display: block;
			width: 0;
			padding-bottom: 100%;
		}
	}

	@media screen and (min-width: #{$viewport-wide-min-width}) {
		flex-basis: calc(#{100% * 2/5} - var(--spacing-level-5));
		padding-bottom: calc(#{100% * 2/5} - var(--spacing-level-5));
		margin: calc(var(--spacing-level-5) * 0.5);

		&:nth-child(4n+2),
		&:nth-child(4n+3) {
			flex-basis: calc(#{100% * 3/5} - var(--spacing-level-5));
		}
	}
}

.gallery__image {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.gallery__footer {
	margin-top: var(--spacing-level-2);
	margin-right: var(--spacing-column-level-1);
	margin-left: var(--spacing-column-level-1);
	max-width: var(--type-area-width-regular);
}
