.gallery {
	width: 100%;

}
.gallery__items {
    column-gap: var(--spacing-level-5);
    
    .gallery--max-regular-width & {
        max-width: var(--type-area-width-regular);
        margin: 0 auto;
    }
}

.gallery__items--2-columns {
    column-count: 2;
}
.gallery__items--3-columns {
    column-count: 3;
    @media screen and (max-width: #{$viewport-narrow-max-width}) {
        column-count: 2;
    }
}

.gallery__item {
    width: 100%;
    break-inside: avoid;
    padding-bottom: var(--spacing-level-5);
    
    &:nth-child(2n) {
        flex:1;
    }
}

.gallery__image {
    border-radius: 15px;
}