.offset {

}

.offset--top-level-1 {
	margin-top: calc(var(--spacing-level-1) * -1);
}

.offset--bottom-level-1 {
	margin-bottom: calc(var(--spacing-level-1) * -1);
}

.offset--top-level-1-double {
	margin-top: calc(var(--spacing-level-1) * -2);
}

.offset--bottom-level-1-double {
	margin-bottom: calc(var(--spacing-level-1) * -2);
}

.offset--top-level-2 {
	margin-top: calc(var(--spacing-level-2) * -1);
}


.offset--bottom-level-2 {
	margin-bottom: calc(var(--spacing-level-2) * -1);
}
