$page-z-index: 0 !default;

.page {
	display: flex;
    flex-direction: column;
    min-width: 320px; // NOTE: Viewports with a smaller width will see a horizontal scrollbar
    min-height: 100vh;
    min-height: -webkit-fill-available;
    color: var(--color-text);
    font: var(--font-base);
    overflow-x: hidden; // NOTE: Otherwise slider will produce hortizontal scroll bars
    overflow-y: visible;
    background-image: url(../images/paper-seamless.jpg);
	background-size: 400px auto;
	background-color: var(--color-base-low);

	// @media (prefers-color-scheme: dark) {
	// 	background-image: url(../images/paper-dark.jpg);
	// }
}

.page__header {
    flex-grow: 0;
    flex-shrink: 0;
}

.page__main {
    flex-grow: 1;
    flex-shrink: 0;
}

.page__footer {
	flex-grow: 0;
	flex-shrink: 0;
	position: relative;
	background-image: linear-gradient(transparent calc(100% - 5px), #000);
}
