.simple-layout {
	position: relative;
	margin: var(--spacing-level-1) var(--spacing-column-level-1);
	scroll-margin-top: var(--spacing-level-2);

	&:first-child {
		margin-top: var(--spacing-level-2);
	}
}

.simple-layout--centered-text {
	text-align: center;
}

.simple-layout--dark-mode {
	margin: 0;
	padding: var(--spacing-level-1) var(--spacing-column-level-1);
	background-color: var(--color-base-dark-mode-root);
}

.simple-layout__body {
	display: grid;
	grid-gap: var(--spacing-level-2);
	
	.simple-layout--max-narrow-width & {
		max-width: var(--type-area-width-narrow);
		margin-left: auto;
		margin-right: auto;
	}
	
	.simple-layout--max-regular-width & {
		max-width: var(--type-area-width-regular);
		margin-left: auto;
		margin-right: auto;
	}

	.simple-layout--max-extended-width & {
		max-width: var(--type-area-width-extended);
		margin-left: auto;
		margin-right: auto;
	}

	.simple-layout--max-wide-width & {
		max-width: var(--type-area-width-wide);
		margin-left: auto;
		margin-right: auto;
	}
}
