.spacer {
	* + & {
		min-height: var(--spacing-level-4);
	}

	& > * + * {
		margin-top: var(--spacing-level-4);
	}

	& + &,
	&:last-child {
		min-height: 0;
	}
}

.spacer--compact {
	* + & {
		min-height: var(--spacing-level-5);
	}

	& > * + * {
		margin-top: var(--spacing-level-5);
	}
}

.spacer--loose {
	* + & {
		min-height: var(--spacing-level-3);
	}

	& > * + * {
		margin-top: var(--spacing-level-3);
	}
}
