$video-layout-z-index: 0 !default;

.video-layout {
	position: relative;
	margin: var(--spacing-level-1) var(--spacing-column-level-1);
	scroll-margin-top: var(--spacing-level-2);

	&:first-child {
		margin-top: var(--spacing-level-2);
	}
}

.video-layout__body {
	display: grid;
	grid-gap: var(--spacing-level-2);
	grid-template-rows: auto 1fr auto auto;
	max-width: var(--type-area-width-extended);
	margin-left: auto;
	margin-right: auto;

	@media screen and (max-width: #{$viewport-narrow-max-width}) {
		grid-template-columns: 1fr;
		grid-template-areas:
			"header"
			"caption"
			"video"
			"footer"
		;
	}

	@media screen and (min-width: #{$viewport-regular-min-width}) and (max-width: #{$viewport-regular-max-width}) {
		grid-template-columns: 2fr 1fr;
		grid-template-areas:
			"header header"
			"caption caption"
			"video video"
			"footer . "
		;
	}

	@media screen and (min-width: #{$viewport-wide-min-width}) {
		grid-template-columns: calc((var(--type-area-width-narrow) + var(--type-area-width-condensed)) * 0.5) 1fr;
		grid-template-areas:
			"header header"
			"caption video"
			"footer video"
		;
	}
}

.video-layout__header {
	grid-area: header;
}

.video-layout__caption {
	grid-area: caption;
}

.video-layout__video {
	grid-area: video;
	position: relative;
}

.video-layout__footer {
	grid-area: footer;
}

.video-layout__video-background {
	position: absolute;
	width: 67%;
	height: 100%;
	z-index: $video-layout-z-index - 1;
	right: calc(var(--spacing-column-level-1) * -1);

	@media screen and (max-width: #{$viewport-regular-max-width}) {
		top: calc(var(--spacing-level-2) * -1.5);
	}

	@media screen and (min-width: #{$viewport-wide-min-width}) {
		top: calc(var(--spacing-level-1) * -1);
	}
}

.video-layout__video-background-image {
	position: absolute;
	left: 0;
	top: 0;
	height: auto;
	width: 100%;
}
