$card-z-index: 0 !default;

.card {
	position: relative;
	max-width: 200px;
	aspect-ratio: 1;
	color: var(--color-text);
	display: flex;
	flex-direction: column;

	&:focus {
		outline: transparent;

		&::after {
			content: '';
			display: block;
			pointer-events: none;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			z-index: $card-z-index + 2;
			outline: transparent;
			box-shadow: inset 0 0 0 3px var(--color-focus), inset 0 0 0 5px var(--color-base-root);
		}
	}

	&:focus:not(:focus-visible) {
		&::after {
			display: none;
		}
	}

	&::-moz-focus-inner {
		border: 0;
	}
}

.card__areas {
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	&::after {
		z-index: -1;
		border-radius: 15px;
		content: '';
		background-color: #20202c;
		opacity: 0.6;
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		transition: opacity 0.3s;
	}
	&:hover:after {
		opacity: 0.5;
	}
}

.card__text-area {
	flex-grow: 1;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
	width: 80%;
}

.card__title {
	font: var(--font-h3);
	color: #fcfcf4;
	line-height: var(--line-height-x-small);
	margin: 0 auto;
}

.card__subtitle {
	margin-top: var(--spacing-level-6);
	font: var(--font-small);
}

.card__media-area {
	position: absolute;
	inset: 0;
	width: 100%;
	z-index: -1;
	border-radius: 15px;
	
	&:focus {
		outline: transparent;

		&::after {
			content: '';
			display: block;
			pointer-events: none;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			z-index: $card-z-index + 2;
			outline: transparent;
			box-shadow: inset 0 0 0 3px var(--color-focus), inset 0 0 0 5px var(--color-base-root);
		}
	}

	&:focus:not(:focus-visible) {
		&::after {
			display: none;
		}
	}

	&::-moz-focus-inner {
		border: 0;
	}
}

.card__image {
    width: 100%;
	border-radius: 15px;
}

.card__sticker {
	position: absolute;
	top: 5%;
	right: 5%;
	width: 20%;
	max-width: var(--type-area-width-compressed);
}

.card__action-area {
	width: 80%;
	margin: 20px auto;
	display: flex;
	justify-content: flex-end;

	transition: transform 0.3s;

	.card:hover & {
		transform: translateY(-7px);
	}
}

.card__read-more {
	font: var(--font-h3);
	width: 60%;
	margin: 0 auto;
}