.card {
  position: relative;
  max-width: 600px;
  text-align: center;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: flex-start;
  padding-top: calc(var(--spacing-level-3) * 1);
  padding-bottom: calc(var(--touch-size) * 0.5);
}
.card::before {
  position: absolute;
  content: "";
  display: block;
  background-color: var(--color-base-low);
  z-index: -1;
  top: calc(var(--spacing-level-3) * 1);
  bottom: calc(var(--touch-size) * 0.5);
  left: 0;
  right: 0;
  -webkit-clip-path: polygon(0 var(--spacing-level-6), 100% 0, calc(100% - var(--spacing-level-6)) 100%, var(--spacing-level-6) calc(100% - var(--spacing-level-6)));
  clip-path: polygon(0 var(--spacing-level-6), 100% 0, calc(100% - var(--spacing-level-6)) 100%, var(--spacing-level-6) calc(100% - var(--spacing-level-6)));
}
.card:focus {
  outline: transparent;
}
.card:focus::after {
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  outline: transparent;
  box-shadow: inset 0 0 0 3px var(--color-focus), inset 0 0 0 5px var(--color-base-root);
}
.card:focus:not(:focus-visible)::after {
  display: none;
}
.card::-moz-focus-inner {
  border: 0;
}

.card--blue::before {
  background-color: var(--color-blue-low);
}

.card--green::before {
  background-color: var(--color-green-low);
}

.card--orange::before {
  background-color: var(--color-orange-low);
}

.card--magenta::before {
  background-color: var(--color-magenta-low);
}

.card__areas {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card__media-area {
  position: relative;
  margin-right: var(--spacing-level-5);
  margin-left: var(--spacing-level-5);
  background-color: var(--color-base-dark-mode-important);
  margin-top: calc(var(--spacing-level-3) * -1);
  position: relative;
  -webkit-clip-path: polygon(0 var(--spacing-level-6), 100% 0, calc(100% - var(--spacing-level-6)) 100%, var(--spacing-level-6) calc(100% - var(--spacing-level-6)));
  clip-path: polygon(0 var(--spacing-level-6), 100% 0, calc(100% - var(--spacing-level-6)) 100%, var(--spacing-level-6) calc(100% - var(--spacing-level-6)));
}
.card--square-media .card__media-area {
  height: 0;
  padding-bottom: calc(100% - var(--spacing-level-5) * 2);
}
.card__media-area:focus {
  outline: transparent;
}
.card__media-area:focus::after {
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  outline: transparent;
  box-shadow: inset 0 0 0 3px var(--color-focus), inset 0 0 0 5px var(--color-base-root);
}
.card__media-area:focus:not(:focus-visible)::after {
  display: none;
}
.card__media-area::-moz-focus-inner {
  border: 0;
}

.card__image {
  width: 100%;
}
.card--square-media .card__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card__sticker {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 20%;
  max-width: var(--type-area-width-compressed);
}

.card__text-area {
  flex-grow: 1;
  margin: calc(var(--spacing-level-5) * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card__title {
  font: var(--font-h3);
  color: var(--color-text-high-contrast);
  line-height: var(--line-height-x-small);
}

.card__subtitle {
  margin-top: var(--spacing-level-6);
  font: var(--font-small);
}

.card__action-area {
  margin-right: var(--spacing-level-5);
  margin-left: var(--spacing-level-5);
  position: relative;
  top: calc(var(--touch-size) * 0.5);
  margin-top: calc(var(--touch-size) * -0.5);
}

/*# sourceMappingURL=card.css.map */
