$figure-z-index: 0 !default;

.figure {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
}

.figure__caption {
	position: absolute;
	max-width: calc(100% - var(--spacing-level-6) * 2);
	bottom: calc(var(--spacing-level-5) * -1);
	left: 50%;
	transform: translateX(-50%);
	font: var(--font-h4);
	color: var(--color-text-dark-mode-high-contrast);
	padding: var(--spacing-level-5);
	z-index: $figure-z-index + 1;


	&::before {
		position: absolute;
		z-index: $figure-z-index - 1;
		content: '';
		background-color: var(--color-base-dark-mode-root);
		display: block;
		top: 0;
		left: 0;
		height: 100% ;
		width: 100%;
		-webkit-clip-path: polygon(
			0% calc(var(--spacing-level-5) * 0.5),
			100% 0%,
			calc(100% - var(--spacing-level-5) * 0.5) calc(100% - var(--spacing-level-5) * 0.5),
			calc(var(--spacing-level-5) * 0.25) calc(100% - var(--spacing-level-5) * 0.25)
		);
		clip-path: polygon(
			0% calc(var(--spacing-level-5) * 0.5),
			100% 0%,
			calc(100% - var(--spacing-level-5) * 0.5) calc(100% - var(--spacing-level-5) * 0.5),
			calc(var(--spacing-level-5) * 0.25) calc(100% - var(--spacing-level-5) * 0.25)
		);
	}
}
