.menu {
	color: var(--color-text);
}

.menu__items {
	display: flex;
	flex-direction: column;
	margin: 0 calc(var(--spacing-level-4) * -0.5);
	align-items: flex-start;

	.menu--horizontal & {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
	}
}

.menu__item {
	display: flex;
	align-items: center;
	min-height: var(--touch-size);
	font-weight: bold;
	margin: 0 calc(var(--spacing-level-4) * 0.5);

	.menu--horizontal & {
		margin: 0;
		padding: 0 calc(var(--spacing-level-4) * 0.5);
	}
}

a.menu__item {
	text-decoration: underline;
}
