.pagination {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pagination__link {
    font: var(--font-h5);
    text-decoration: underline;
}

.pagination__link--prev {
    margin-right: auto;
}
.pagination__link--next {
    margin-left: auto;
}