.price-sticker {
	line-height: var(--line-height-x-small);
	fill: var(--color-green-light-mode-low);
	width: 100%;
}

.price-sticker__price {
	font: var(--font-h4);
	fill: var(--color-text-light-mode-high-contrast);
}

.price-sticker__whole-number {
}

.price-sticker__decimals {
}
