.rich-text {
	max-width: var(--type-area-width-regular);

	& > :first-child {
		margin-top: 0;
	}

	& > :last-child {
		margin-bottom: 0;
	}
}

.rich-text--centered {
	text-align: center;
	margin: 0 auto;
}
.rich-text--stretched {
	max-width: none;
}

.rich-text--hyphenation {
	-webkit-hyphens: auto;
			hyphens: auto;
		-ms-hyphens: auto;
	-webkit-hyphenate-limit-before: 3;
	-webkit-hyphenate-limit-after: 3;
	-webkit-hyphenate-limit-chars: 6 3 3;
	-webkit-hyphenate-limit-lines: 2;
	-webkit-hyphenate-limit-last: always;
	-webkit-hyphenate-limit-zone: 8%;
	   -moz-hyphenate-limit-chars: 6 3 3;
	   -moz-hyphenate-limit-lines: 2;
	   -moz-hyphenate-limit-last: always;
	   -moz-hyphenate-limit-zone: 8%;
		-ms-hyphenate-limit-chars: 6 3 3;
		-ms-hyphenate-limit-lines: 2;
		-ms-hyphenate-limit-last: always;
		-ms-hyphenate-limit-zone: 8%;
			hyphenate-limit-chars: 6 3 3;
			hyphenate-limit-lines: 2;
			hyphenate-limit-last: always;
			hyphenate-limit-zone: 8%;
}

.rich-text--dark-mode {
	color: var(--color-text-dark-mode);
}

.rich-text--light-mode {
	color: var(--color-text-light-mode);
}

h1 {
	.rich-text & {
		margin: calc(var(--line-height-base) / 4) 0;
		font: var(--font-h1);
	}

	.rich-text--small & {
		font: var(--font-h2);
	}

	.rich-text--dark-mode & {
		color: var(--color-text-dark-mode-high-contrast);
	}
}

h2 {
	.rich-text & {
		margin: calc(var(--line-height-base) / 4) 0;
		font: var(--font-h2);
	}

	.rich-text--small & {
		font: var(--font-h3);
	}

	.rich-text--dark-mode & {
		color: var(--color-text-dark-mode-high-contrast);
	}
}

h3 {
	.rich-text & {
		margin: calc(var(--line-height-base) / 4) 0;
		font: var(--font-h3);
	}

	.rich-text--small & {
		font: var(--font-h4);
	}

	.rich-text--dark-mode & {
		color: var(--color-text-dark-mode-high-contrast);
	}
}

h4 {
	.rich-text & {
		margin: calc(var(--line-height-base) / 4) 0;
		font: var(--font-h4);
	}

	.rich-text--small & {
		font: var(--font-h5);
	}

	.rich-text--dark-mode & {
		color: var(--color-text-dark-mode-high-contrast);
	}
}

h5 {
	.rich-text & {
		margin: calc(var(--line-height-base) / 4) 0;
		font: var(--font-h5);
	}

	.rich-text--small & {
		font: var(--font-h6);
	}

	.rich-text--dark-mode & {
		color: var(--color-text-dark-mode-high-contrast);
	}
}

h6 {
	.rich-text & {
		margin: calc(var(--line-height-base) / 4) 0;
		font: var(--font-h6);
	}

	.rich-text--small & {
		font: var(--font-base);
	}

	.rich-text--dark-mode & {
		color: var(--color-text-dark-mode-high-contrast);
	}
}

p {
	.rich-text & {
		margin: var(--line-height-base) 0;
		font: var(--font-base);
	}

	.rich-text--small & {
		font: var(--font-small);
	}

	.rich-text--compact & {
		margin: calc(var(--line-height-base) * 0.5) 0;
	}
}

ol,
ul {
	.rich-text & {
		margin-top: var(--line-height-base);
		margin-bottom: var(--line-height-base);
		padding-left: var(--line-height-base);
		list-style-position: outside;
	}

	.rich-text--compact & {
		margin-top: calc(var(--line-height-base) * 0.5);
		margin-bottom: calc(var(--line-height-base) * 0.5);
	}
}

ol {
	.rich-text & {
		list-style: decimal;
	}
}

ul {
	.rich-text & {
		list-style: disc;
	}
}

ol > li > ol {
	.rich-text & {
		list-style-type: lower-alpha;
	}
}

li {
	.rich-text & {
		margin-top: calc(var(--line-height-base) / 2);
		margin-bottom: calc(var(--line-height-base) / 2);
		font: var(--font-base);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.rich-text--small & {
		font: var(--font-small);
	}

	.rich-text--compact & {
		margin-top: 0;
		margin-bottom: 0;
	}
}

a {
	.rich-text & {
		text-decoration: underline;

		&:focus {
			outline: transparent;
			border-color: var(--color-focus);
			box-shadow: 0 0 0 3px var(--color-focus);
		}

		&:focus:not(:focus-visible) {
			box-shadow: none;
		}

		&::-moz-focus-inner {
			border: 0;
		}
	}
}

strong {
	.rich-text & {
		font-weight: var(--font-weight-bold);
	}
}

em {
	.rich-text & {
		font-style: italic;
	}
}

code {
	.rich-text & {
		font-family: var(--font-family-monospace);
	}
}

mark {
	.rich-text & {
	}
}

figure {
	.rich-text & {
		margin-left: 0;
		margin-right: 0;
		margin-top: var(--spacing-level-3);
		margin-bottom: var(--spacing-level-3);
		width: 100%;

		.manuscript-layout__main > & img,
		.manuscript-layout__main > &.video {
			display: block;
			position: relative;

			@media screen and (max-width: #{$viewport-narrow-max-width}) {
				margin-left: -50vw;
				margin-right: -50vw;
				max-width: 100vw;
				right: 50%;
				width: 100vw;
				left: 50%;
			}

			@media screen and (min-width: #{$viewport-regular-min-width}) and (max-width: #{$viewport-regular-max-width}) {
				margin-left: calc(-50vw + var(--spacing-column-level-1));
				margin-right: calc(-50vw + var(--spacing-column-level-1));
				width: calc(100vw - var(--spacing-column-level-1) * 2);
				max-width: calc(100vw - var(--spacing-column-level-1) * 2);
				left: 50%;
				right: 50%;
			}

			@media screen and (min-width: #{$viewport-wide-min-width}) {
				margin-left: calc((var(--type-area-width-wide) - var(--type-area-width-regular)) * -0.5);
				margin-right: calc((var(--type-area-width-wide) - var(--type-area-width-regular)) * -0.5);
				width: var(--type-area-width-wide);
				max-width: var(--type-area-width-wide);
			}
		}

		.manuscript-layout__main > &.video {
			height: calc(100vw * 9 / 16);

			@media screen and (min-width: #{$viewport-regular-min-width}) {
				height: calc((100vw - var(--spacing-column-level-1) * 2) * 9 / 16);
			}
		}
	}
}

blockquote {
	.rich-text & {
	}

	.rich-text & p {
	}

	.rich-text & p:first-child:before {
	}
}
