$signage-menu-z-index: 0 !default;

.signage-menu {

}

.signage-menu__items {
	display: flex;
	flex-direction: column;
	margin: calc(var(--spacing-level-5) * -0.5);
	align-items: flex-start;
}

.signage-menu__item {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-text-light-mode);
	position: relative;
	font-weight: var(--font-weight-bold);
	font-family: var(--font-family-neue-droschke);
	line-height: var(--line-height-x-small);
	font-size: var(--font-size-large);
	margin: calc(var(--spacing-level-5) * 0.5);
	padding-top: var(--spacing-level-5);
	padding-right: calc(var(--spacing-level-4) + var(--spacing-level-5));
	padding-bottom: var(--spacing-level-5);
	padding-left: var(--spacing-level-4);
	transform: rotate(-1deg);
	will-change: transform;
	filter: drop-shadow(5px 5px 0px rgb(0, 0, 0));

	&::before {
		display: block;
		will-change: transform;
		position: absolute;
		z-index: $signage-menu-z-index - 1;
		left: 0;
		content: '';
		top: 0;
		width: 100%;
		height: 100%;
		background-color: var(--color-base-light-mode-ground);
		-webkit-clip-path: polygon(
			0 0,
			calc(100% - var(--spacing-level-4) * 0.75) 0,
			100% 45%,
			calc(100% - var(--spacing-level-4) * 0.75) calc(100% - var(--spacing-level-5) * 0.25),
			calc(var(--spacing-level-4) * 0.125) 100%
		);
		clip-path: polygon(
			0 0,
			calc(100% - var(--spacing-level-4) * 0.75) 0,
			100% 45%,
			calc(100% - var(--spacing-level-4) * 0.75) calc(100% - var(--spacing-level-5) * 0.25),
			calc(var(--spacing-level-4) * 0.125) 100%
		);
	}

	&.is-disabled,
	&:disabled {
		opacity: var(--opacity-disabled);
	}

	&:focus {
		outline: transparent;
		color: var(--color-text-dark-mode-high-contrast);

		&::before {
			background-color: var(--color-focus);
		}
	}

	&:focus:not(:focus-visible) {
		color: var(--color-text-light-mode);

		&::before {
			background-color: var(--color-base-light-mode-ground);
		}
	}

	&::-moz-focus-inner {
		border: 0;
	}

	&:nth-child(6n+2) {
		transform: rotate(-0.5deg);
		&::before {
			-webkit-clip-path: polygon(
				0 0,
				calc(100% - var(--spacing-level-4) * 0.75) calc(var(--spacing-level-5) * 0.25),
				100% 50%,
				calc(100% - var(--spacing-level-4) * 0.75) 100%,
				calc(var(--spacing-level-4) * 0.125) 100%
			);
			clip-path: polygon(
				0 0,
				calc(100% - var(--spacing-level-4) * 0.75) calc(var(--spacing-level-5) * 0.25),
				100% 50%,
				calc(100% - var(--spacing-level-4) * 0.75) 100%,
				calc(var(--spacing-level-4) * 0.125) 100%
			);
		}
	}

	&:nth-child(6n+3) {
		transform: rotate(-0.5deg);
		&::before {
			-webkit-clip-path: polygon(
				0 calc(var(--spacing-level-5) * 0.125),
				calc(100% - var(--spacing-level-4) * 0.75) 0,
				100% 50%,
				calc(100% - var(--spacing-level-4) * 0.875) 100%,
				calc(var(--spacing-level-5) * 0.125) calc(100% - var(--spacing-level-5) * 0.125)
			);
			clip-path: polygon(
				0 calc(var(--spacing-level-5) * 0.125),
				calc(100% - var(--spacing-level-4) * 0.75) 0,
				100% 50%,
				calc(100% - var(--spacing-level-4) * 0.875) 100%,
				calc(var(--spacing-level-5) * 0.125) calc(100% - var(--spacing-level-5) * 0.125)
			);
		}
	}

	&:nth-child(6n+4) {
		transform: rotate(-0.5deg);
		&::before {
			-webkit-clip-path: polygon(
				calc(var(--spacing-level-4) * 0.125) 0,
				calc(100% - var(--spacing-level-4) * 1) 0,
				100% 48%,
				calc(100% - var(--spacing-level-4) * 1) 100%,
				0 calc(100% - var(--spacing-level-5) * 0.25)
			);
			clip-path: polygon(
				calc(var(--spacing-level-4) * 0.125) 0,
				calc(100% - var(--spacing-level-4) * 1) 0,
				100% 48%,
				calc(100% - var(--spacing-level-4) * 1) 100%,
				0 calc(100% - var(--spacing-level-5) * 0.25)
			);
		}
	}

	&:nth-child(6n+6) {
		transform: rotate(-0.5deg);
		&::before {
			-webkit-clip-path: polygon(
				calc(var(--spacing-level-4) * 0.125) 0,
				calc(100% - var(--spacing-level-4) * 1) 0,
				100% 48%,
				calc(100% - var(--spacing-level-4) * 1) 100%,
				0 calc(100% - var(--spacing-level-5) * 0.25)
			);
			clip-path: polygon(
				calc(var(--spacing-level-4) * 0.125) 0,
				calc(100% - var(--spacing-level-4) * 1) 0,
				100% 48%,
				calc(100% - var(--spacing-level-4) * 1) 100%,
				0 calc(100% - var(--spacing-level-5) * 0.25)
			);
		}
	}

	&:hover {
		transform: translateX(5px) rotate(-1deg);
	}
}
