.speech-bubble {
    display: inline-flex;
    position: relative;
    z-index: 5;

    @media only screen and (max-width: $tablet-xl-break-point) {
        &::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 30px;
            width: 20px;
            height: 20px;
            background-color: var(--color-orange);
            -webkit-clip-path: polygon(26% 100%, 15% 0, 100% 0);
			clip-path: polygon(26% 100%, 15% 0, 100% 0);
        }

        &::after {
            content: none;
        }
    }

    @media only screen and (min-width: $tablet-xl-break-point) {
        &::after {
            content: '';
            position: absolute;
            top: 10px;
            right: -60px;
            width: 70px;
            height: 90px;
            background: url('../images/krul-orange.svg') no-repeat;
            background-position: center;
            z-index: 1;
        }

        &::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 30px;
            width: 50px;
            height: 50px;
            background-color: var(--color-orange);
			-webkit-clip-path: polygon(26% 100%, 15% 0, 100% 0);
			clip-path: polygon(26% 100%, 15% 0, 100% 0);
        }
    }
}

.speech-bubble__container {
	-webkit-clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
	clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);

    .speech-bubble--orange & {
        background-color: var(--color-orange);
    }

    .speech-bubble--black & {
        background-color: var(--color-text);
		color: var(--color-text-dark-mode-high-contrast);

        &::before {
            background-color: var(--color-text);
        }
    }
}

.speech-bubble__text {
    font: var(--font-h1);
    font-size: 40px;
    padding-left: calc(var(--spacing) * 1.5);
    padding-right: calc(var(--spacing) * 1.5);
    padding-top: calc(var(--spacing) * 1.5);
    padding-bottom: calc(var(--spacing) * 0.5);

    @media only screen and (min-width: $tablet-xl-break-point) {
        font-size: 60px;
        padding-left: calc(var(--spacing) * 2);
        padding-right: calc(var(--spacing) * 2);
        padding-top: calc(var(--spacing) * 2);
        padding-bottom: calc(var(--spacing) * 1.5);
    }

    @media only screen and (min-width: $desktop-break-point) {
        font-size: 65px;
        padding-left: calc(var(--spacing) * 2.5);
        padding-right: calc(var(--spacing) * 2.5);
        padding-top: calc(var(--spacing) * 2.5);
        padding-bottom: calc(var(--spacing) * 1.5);
    }
}
