.button {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  will-change: transform;
  position: relative;
  border: none;
  min-height: var(--touch-size);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-lunchbox);
  line-height: var(--line-height-x-small);
  font-size: var(--font-size-large);
  font-size: 20px;
  color: var(--color-text-dark-mode-high-contrast);
  background-color: var(--color-primary-important);
  padding-top: calc((var(--touch-size) - 20px * var(--line-height-x-small)) * 0.5);
  padding-bottom: calc((var(--touch-size) - 20px * var(--line-height-x-small)) * 0.5);
  padding-left: calc(var(--touch-size) * 0.5);
  padding-right: calc(var(--touch-size) * 0.5);
}
.button.is-disabled, .button:disabled {
  opacity: var(--opacity-disabled);
}
.button:focus {
  outline: 3px solid var(--color-focus);
}
.button:focus:not(:focus-visible) {
  outline: transparent;
}
.button::-moz-focus-inner {
  border: 0;
}

.button--secondary {
  color: var(--color-text-high-contrast);
  background-color: var(--color-secondary-moderate);
}

.button--arrow-right {
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.button--arrow-right::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-important);
  -webkit-clip-path: polygon(92% 2%, 100% 44%, 93% 98%, 0% 100%, 6% 49%, 0% 0%);
  clip-path: polygon(92% 2%, 100% 44%, 93% 98%, 0% 100%, 6% 49%, 0% 0%);
}
.button--arrow-right:hover {
  transform: translateX(5px) rotate(-1deg);
}
.button--arrow-right.button--secondary {
  background-color: transparent;
}
.button--arrow-right.button--secondary::before {
  background-color: var(--color-secondary-moderate);
}

.button--arrow-left {
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.button--arrow-left::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-important);
  -webkit-clip-path: polygon(100% 2%, 94% 44%, 100% 98%, 8% 100%, 0% 49%, 7% 0%);
  clip-path: polygon(100% 2%, 94% 44%, 100% 98%, 8% 100%, 0% 49%, 7% 0%);
}
.button--arrow-left:hover {
  transform: translateX(-5px) rotate(1deg);
}
.button--arrow-left.button--secondary {
  background-color: transparent;
}
.button--arrow-left.button--secondary::before {
  background-color: var(--color-secondary-moderate);
}

.button--elevated {
  margin: 0;
  margin-bottom: 5px;
  box-shadow: 5px 5px 0px 0px var(--color-base-dark-mode-root);
}
.button--elevated:hover {
  transform: translate(2px, 2px);
  box-shadow: 3px 3px 0px 0px var(--color-base-dark-mode-root);
}
.button--elevated:active {
  transform: translate(5px, 5px);
  box-shadow: none;
}
.button--elevated:focus {
  outline: transparent;
  box-shadow: inset 0 0 0 3px var(--color-focus), inset 0 0 0 5px var(--color-base-root), 3px 3px 0px 0px var(--color-base-dark-mode-root);
}
.button--elevated:focus:not(:focus-visible) {
  box-shadow: none;
}

.button--arrow-right.button--transparent {
  background-color: transparent;
  color: var(--color-text);
  clip-path: none;
  font-weight: bold;
}
.button--arrow-right.button--transparent::before {
  display: none;
}
.button--arrow-right.button--transparent::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: -2px;
  width: 54px;
  height: 23px;
  background: url("/assets/images/arrow-double.svg") no-repeat;
  background-position: center;
  z-index: 1;
}

/*# sourceMappingURL=button.css.map */
