@font-face {
    font-family: 'Lemurika';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/lemurika.woff2') format('woff2');
    font-display: swap;
}

// Oude code van Bart:
// @font-face {
//     font-family: 'Lunchbox';
//     font-weight: bold;
//     font-style: normal;
//     src: url('../fonts/lunchbox/lunchbox-bold.woff2') format('woff2');
//     font-display: swap;
// }
